<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d [%thread] %-5level %logger{80} - %msg%n</pattern>
		</layout>
	</appender>
	<!-- 
	<appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
		<syslogHost>${syslog.host}</syslogHost>
		<port>${syslog.port}</port>
		<facility>${syslog.facility}</facility>
		<suffixPattern>%thread: %-5level %logger{36} - %msg%n</suffixPattern>
	</appender>
	-->
	<logger name="java.sql.PreparedStatement" level="INFO" />
	<logger name="com.remedyq" level="INFO" />

	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<!-- 
		<appender-ref ref="SYSLOG" />
		-->
	</root>
</configuration>  